name: ci

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Write Dockerfile
        run: |
          echo "FROM alpine:latest" > Dockerfile
          echo "RUN dd if=/dev/zero of=f1 bs=1024KB count=500" >> Dockerfile
          echo "RUN dd if=/dev/zero of=f2 bs=1024KB count=500" >> Dockerfile
          echo "RUN dd if=/dev/zero of=f3 bs=1024KB count=500" >> Dockerfile
          echo "RUN dd if=/dev/zero of=f4 bs=1024KB count=500" >> Dockerfile
          echo "RUN dd if=/dev/zero of=f5 bs=1024KB count=500" >> Dockerfile
          echo "RUN dd if=/dev/zero of=f5 bs=1024KB count=500" >> Dockerfile
          echo "RUN dd if=/dev/zero of=f5 bs=1024KB count=500" >> Dockerfile
          echo "RUN dd if=/dev/zero of=f5 bs=1024KB count=500" >> Dockerfile
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          outputs: type=registry,dest=ghcr.io/${{ github.repository_owner }}/test:latest,push=true,compression=uncompressed
          tags: ghcr.io/${{ github.repository_owner }}/test:latest